/*	
	This file defines the default set of CSS styles available in the Rich editor
*/

p.caption {
	font-style: italic;
	color: grey;
}

span.highlight {
	background: yellow;
}

img.left {
	float: left;
}

img.right {
	border: 2px solid black;
	float: right;
	margin: 0 10px 5px 0;
}

img.left {
	border: 2px solid black;
	float: left;
	margin: 0 10px 5px 0;
}