<div class="badge">
	<i><%= normalize(@content.title) %></i>
	<div class="badge-right"></div>
</div>
<div class="body">
	<%= image_tag @content.featured_image, class: 'fancybox featured border' unless @content.featured_image.blank? %>
	<%= raw @content.text %>
</div>