<div class="main">

	<div class="news">
		<div class="badge">
			<i><%= @body.title.mb_chars.downcase %></i>
			<div class="badge-right"></div>
		</div>
	</div>

	<div class="body">
		<%= image_tag @body.featured_image, :class => 'featured' %>
		<br>
		<%= raw @body.text %>
	</div>

</div>