@font-face {
	font-family: 'bankir-retro';
	src: url('bankir-retro-webfont.eot');
	src: url('bankir-retro-webfont.eot?#iefix') format('embedded-opentype'),
	url('bankir-retro-webfont.woff') format('woff'),
	url('bankir-retro-webfont.ttf') format('truetype'),
	url('bankir-retro-webfont.svg#bankir-retroregular') format('svg');
	font-weight: normal;
	font-style: normal;
}

* {
	margin: 0;
	padding: 0;
	border: 0;
}

html, body {
	height: 100%;
}

html {
	background: url("bg.jpg") repeat scroll 0 0 transparent;
}

body {
	background: url("words.png") no-repeat scroll 50% 50px transparent;
}

.container {
	background: url("bgpaper.jpg") repeat scroll 0 0 transparent;
	position: absolute;
	top: 0;
	left: 50%;
	margin: 0 0 0 -474px;
	width: 948px;
}

.woodframe {
	pointer-events:none;
	background: url("woodframe.png") repeat-y scroll 0 0 transparent;
	position: absolute;
	top: 0;
	left: 50%;
	margin: 0 0 0 -522px;
	width: 1044px;
	height: 100%;
}

.head {
	background: url("bar.jpg") no-repeat scroll 0 0 transparent;
	width: 948px;
	height: 338px;
}

.bglogo {
	background: url("bglogo.png") no-repeat scroll 0 0 transparent;
	position: absolute;
	width: 215px;
	height: 232px;
	margin: -24px 0 0 39px;
}

.logo {
	width: 150px;
	height: 150px;
	margin: 41px 0 0 32px;
}

.menu {
	background: url("bgmenu.png") no-repeat scroll 0 0 transparent;
	width: 948px;
	height: 89px;
}

.menu ul {
	display: table;
	float: left;
	list-style: none outside none;
	padding-top: 14px;
	text-align: center;
	width: 858px;
}

.menu li {
	font: normal 1.4em "bankir-retro";
	display: table-cell;
	text-shadow: 1px 3px 3px black;
}

.menu a {
	text-decoration: none;
	color: #a45a1f;
}

.menu-left, .menu-right, .menu-mid {
	background-image: url("menu-dividers.png");
	background-repeat: no-repeat;
	height: 10px;
	margin: 26px 12px 0;
}

.menu-left {
	float: left;
	width: 21px;
}

.menu-right {
	background-position: -56px 0;
	float: right;
	width: 21px;
}

.menu-mid {
	background-position: 22px 0;
	width: 40px;
}

.content {
	overflow: auto;
}

.badge, .badge-long {
	margin: 0 0 -10px -20px;
	padding: 0 0 0 20px;
}

.badge {
	background: url("badge.png") no-repeat scroll 0 0 transparent;
	width: 105px;
	height: 43px;
}

.badge-long {
	background: url("badge-long.png") no-repeat scroll 0 0 transparent;
	width: 226px;
	height: 43px;
}

.badge i, .badge-long i {
	font: normal 1.2em "bankir-retro";
	color: #D3D3C3;
}

.sidebar, .main {
	background-color: #d3d3c3;
	height: 300px;
	border-radius: 10px;
}

.sidebar {
	float: left;
	width: 218px;
	margin-left: 20px;
}

.main {
	float: right;
	width: 671px;
	margin-right: 20px;
}

.zz {
	background: url("zzbottom.png") repeat-x scroll 0 20px transparent;
	clear: both;
	height: 30px;
}

.footer {
	background-color: #301e13;
	height: 200px;
}

.news {
	padding: 10px;
}

p {
	font: normal 0.8em "Lucida Grande";
}