* {
	margin: 0;
	border: 0;
}

html, body {
	height: 100%;
}

html {
	background: url("bg.jpg") repeat scroll
		0px 0px transparent;
}

body {
	background: url("words.png") no-repeat scroll
		50% 50px transparent;
}
